<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yunjaena.imageloader">
    <application android:allowBackup="true">
        <activity
            android:name="com.yunjaena.imageloader.ImageLoadActivity"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent.ImageLoader">
        </activity>

        <provider
            android:name="com.yunjaena.imageloader.ImageLoaderFileProvider"
            android:authorities="${applicationId}.imageloader.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
